.login-input div {
    position: relative;
    border: 5px solid transparent;
    width: 60%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}

.login-input input {
    width: 100%;
    color: black;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: hsla(188, 90%, 49%, 0.2);
}

.login-input input:focus {
    outline: none;
    box-shadow: 0 -2px 2px rgba(59, 166, 169, 0.96);
}

.login-input input::placeholder {
    color: black;
}

.login-input span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #090805;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.login-input input:focus ~ span {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/*登录*/
.login-button input {
    margin-left: 42%;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(223, 67%, 55%);
    overflow: hidden;
    transition: background-color 0.4s ease-in-out;
}

.login-button input::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: hsl(223, 67%, 55%);
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.login-button input:focus {
    cursor: pointer;
    background-color: hsl(222, 46%, 33%)
}

.login-button input:focus::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
